@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: inter;
}

body{
    height: 4089px;
    position: relative;
}
.content{
    padding-top: 226px;
}
.header{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
    position: fixed;
}

.header-right{
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-right p{
    margin-right: 20px;
}

.search-icon{
    width: 25px;
    height: 25px;
    margin-right: 25px;
}

.bag-icon{
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.signIn-button{
    display: flex;
    height: 33px;
    border: none;
    margin: 0px 5px;
    padding: 22px 25px;
    align-items: center;
    border-radius: 10px;
    background: #202020;
    color: #FDFBFA;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.header-left{
    display: flex;
    align-items: center;
    padding-left: 200px;
    color: #202020;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-left img{
    padding: 0;
    margin: 0;
    border-radius: 2px;
    width: 23px;
    padding-bottom: 7px;
    padding-right: 8px;
}
.header-left p{
    padding-top: 7px;
    padding-bottom: 7px;

}

.main-content{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.main-content img{
    border-radius: 20px;
}

.content-left{
    margin-right: 45px;
    width: 790px;    
}
.main-text{
    color: #202020;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
}

.main-text span{
    color: #FC8019;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-bottom:30px;
}

.lorem{
    color: #404040;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
    width: 712px;
    margin-bottom:30px;
    margin-top:30px;
}

.btn-left{
    display: flex;
    width: 622px;
    padding: 16px 24px;
    margin-right: 20px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #808080;
    background-color: #FFFFFF;
    color: #808080;
}

.btn-right{
    display: flex;
    padding: 16px 2px;
    width: 129px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #202020;
    color: #FDFBFA;
}

.pop-cities{
    color: #404040;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom:30px;
}

.cities{
    display: flex;
    flex-direction: row;
    color: #808080;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 20px;
}







.card-section{
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 0px 236px;
    padding-top: 278px;
    padding-bottom: 132px;
}

.mega-header{
    color: #202020;
    display: inline-block;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mega-card{
    display: inline-block;
}

.parent-flex{
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    justify-content: center;
} 

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding:25px;
    width:250px;
    height: 352px;
    background-color: #F8F8F8;
    color:#202020;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.card-photo-container{
    display: flex;
    height:200px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius:10px;
}

.card img{
    height:100%;
}

.card-title{
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    margin: 0px;
    height: 60px;
}

.card-desc{
    font-size: 18px;
    padding: 0px;
    margin: 0px;
    color: #808080;
    display: inline-block;

}

.card-desc-container img {
    filter: brightness(0);
    height: 18px;
    margin: 0px;
    padding: 2px;

}

.card-desc-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 118px;
    margin-bottom: 25px; */
}

.rating{
    color: #202020;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-lower-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #202020;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

.sbr{
    width: 100%;
    height: 200px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color:#FC8019;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.left{
    display: flex;
    width: 622px;
    padding: 16px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.right{
    display: flex;
    padding: 16px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #202020;
    color:white;
}
















.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #202020;
    background-color: #FC8019;
    width: 100%;
    height: 313px;
}